.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 24px;
  color: white;
  border-bottom: 8px solid #FFD54F;
  margin-bottom: 16px;
}

.App-title {
  height: 36px;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .App-logo {
    height: 88px;
  }
  .App-header {
    padding: 8px;
  }
  .App-title {
    height: 18px;
  }
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.base_color {
  background-color: #00BFA5;
}

.accent_color {
  color: #FFD54F;
}

.sub_color {
  color: #FFF8E1;
}
